In [1]:
import pandas as pd
import pygwalker as pyg

In [5]:
df = pd.read_csv('usedcar.csv')
df.head()

,s.no,Name,Location,Year,KmDriven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13 km/kg,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,NaN,3.50

In [3]:
print(dir(pyg))

['FieldSpec', 'GlobalVarManager', '__all__', '__builtins__', '__cached__', '__check_kaggle', '__doc__', '__file__', '__hash__', '__init_logging', '__loader__', '__name__', '__package__', '__path__', '__rand_str', '__show_tips_user_kaggle', '__spec__', '__version__', '_constants', '_typing', 'api', 'communications', 'data_parsers', 'errors', 'logging', 'render', 'services', 'table', 'to_html', 'utils', 'walk']

In [6]:
walker = pyg.walk(df)

Box(children=(HTML(value='<div id="ifr-pyg-000618efa0db58f01o8fZNG37aPmTKMV" style="height: auto">\n    <head>â€¦