In [65]:
import pandas as pd

In [69]:
import matplotlib.pyplot as plt

In [70]:
import numpy as np

In [71]:
import plotly.express as px

In [72]:
from sklearn.linear_model import LinearRegression

In [73]:
df=pd.read_csv("Ai practice project.csv")

In [74]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 14 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Brands  7 non-null      object
 1   2016    7 non-null      int64
 2   2017    7 non-null      int64
 3   2018    7 non-null      int64
 4   2019    7 non-null      int64
 5   2020    7 non-null      int64
 6   2021    7 non-null      int64
 7   2022    7 non-null      int64
 8   2023    7 non-null      int64
 9   2024    7 non-null      int64
 10  2025    7 non-null      int64
 11  2026    7 non-null      int64
 12  2027    7 non-null      int64
 13  2028    7 non-null      int64
dtypes: int64(13), object(1)
memory usage: 916.0+ bytes

In [75]:
df = pd.read_csv('Ai practice project.csv')
# df.head()
df.set_index("Brands",inplace=True)
print(df.head())

            2016      2017     2018      2019     2020     2021      2022  \
Brands
Apple      79918     92956    36311     98601    70320    51261     92014
Mi       3315550   1409596  9277163   1660474  9992642  8448689   3212109
Samsung  9394877   6224008  2676267  10854249  9698714  5601749  11744976
Nokia    9957350  10681674  8963409   9150408  8832315  7767173   5021397
Moto     8811559   8960636  9256990   5709109  9261169  1095159  11050079

            2023     2024     2025     2026     2027     2028
Brands
Apple      78019    74848    74831    74814    74797    74780
Mi       3837745  6136104  6356516  6576929  6797342  7017755
Samsung  6454424  8615582  8789898  8964215  9138531  9312848
Nokia    9566786  6870664  6454686  6038708  5622731  5206753
Moto     2209602  4006792  3331793  2656794  1981795  1306796

In [76]:
years=np.array([int(year) for year in df.columns]).reshape(-1,1)
print(years)
predictions={}

[[2016]
 [2017]
 [2018]
 [2019]
 [2020]
 [2021]
 [2022]
 [2023]
 [2024]
 [2025]
 [2026]
 [2027]
 [2028]]

In [77]:
df.to_csv('output.csv',header=False,index=False)

In [78]:
df = pd.read_csv('Ai practice project.csv')

In [79]:
# df.rename(columns={'Brands': 'Year'}, inplace=True)
# df.head()
# df.transpose()
# df.to_csv('some.csv',header=False)

In [80]:
# df = pd.read_csv('some.csv')

In [81]:
df_transposed = df.transpose()

In [82]:
print(df_transposed)

            0        1         2         3         4         5        6
Brands  Apple       Mi   Samsung     Nokia      Moto      Vivo     Oppo
2016    79918  3315550   9394877   9957350   8811559   3216518  4292105
2017    92956  1409596   6224008  10681674   8960636   1199904  4892096
2018    36311  9277163   2676267   8963409   9256990   6631994  5552392
2019    98601  1660474  10854249   9150408   5709109   7478769  7785292
2020    70320  9992642   9698714   8832315   9261169   6015910  2739808
2021    51261  8448689   5601749   7767173   1095159   4286578  6624464
2022    92014  3212109  11744976   5021397  11050079  11175540  5224112
2023    78019  3837745   6454424   9566786   2209602   5852808  8943846
2024    74848  6136104   8615582   6870664   4006792   8937597  7492104
2025    74831  6356516   8789898   6454686   3331793   9649896  7877735
2026    74814  6576929   8964215   6038708   2656794  10362195  8263365
2027    74797  6797342   9138531   5622731   1981795  11074494  8648996
2028    74780  7017755   9312848   5206753   1306796  11786793  9034627

In [96]:
# df = pd.read_csv('Ai practice project.csv')
# df.head()

In [97]:
# data = {
#     '2018': [1000, 900],
#     '2019': [1100, 950],
#     '2020': [1200, 1000],
#     '2021': [1300, 1050],
#     '2022': [1400, 1100]
# }

In [98]:
# brands = ['Apple', 'Samsung']
# df = pd.DataFrame(data, index=brands)

In [99]:
# years = np.array([[2018], [2019], [2020], [2021], [2022]])

In [100]:
# predictions = {}
# actual_sales = {}

In [101]:
# for brand in df.index:
#     try:

#         sales_data = df.loc[brand].values.astype(float).reshape(-1, 1)
#         model = LinearRegression().fit(years, sales_data)
#         f_years = np.array([2024, 2025, 2026, 2027, 2028]).reshape(-1, 1)
#         p_sales = model.predict(f_years).flatten()
#         predictions[brand] = p_sales
#     except ValueError as e:
#         print(f"Skipping brand {brand} due to an error: {e}")

In [102]:
# brand = 'Apple'
# if brand in actual_sales and brand in predictions:
#     plt.plot(range(2018, 2023), actual_sales[brands], label="Actual Sales")
#     plt.plot(range(2024, 2029), predictions[brands], label="Predicted Sales")
#     plt.ylabel("Sales")
#     plt.xlabel("Years")
#     plt.title(f"Sales according to the Year for {brands}")
#     plt.legend()
#     plt.show()
# else:
#     print(f"No data available to plot for brand {brands}")

In [103]:
# print(predictions)

In [104]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 14 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Brands  7 non-null      object
 1   2016    7 non-null      int64
 2   2017    7 non-null      int64
 3   2018    7 non-null      int64
 4   2019    7 non-null      int64
 5   2020    7 non-null      int64
 6   2021    7 non-null      int64
 7   2022    7 non-null      int64
 8   2023    7 non-null      int64
 9   2024    7 non-null      int64
 10  2025    7 non-null      int64
 11  2026    7 non-null      int64
 12  2027    7 non-null      int64
 13  2028    7 non-null      int64
dtypes: int64(13), object(1)
memory usage: 916.0+ bytes

In [105]:
df.describe()

,2016,2017,2018,2019,2020,2021,2022,2023,2024,2025,2026,2027,2028
count,7.000000e+00,7.000000e+00,7.000000e+00,7.000000e+00,7.000000e+00,7.000000e+00,7.000000e+00,7.000000e+00,7.000000e+00,7.000000e+00,7.000000e+00,7.000000e+00,7.000000e+00
mean,5.581125e+06,4.780124e+06,6.056361e+06,6.105272e+06,6.658697e+06,4.839296e+06,6.788604e+06,5.277604e+06,6.019099e+06,6.076479e+06,6.133860e+06,6.191241e+06,6.248622e+06
std,3.803086e+06,4.093700e+06,3.589798e+06,3.926998e+06,3.895124e+06,3.230523e+06,4.567590e+06,3.465922e+06,3.097081e+06,3.345420e+06,3.638496e+06,3.966403e+06,4.321220e+06
min,7.991800e+04,9.295600e+04,3.631100e+04,9.860100e+04,7.032000e+04,5.126100e+04,9.201400e+04,7.801900e+04,7.484800e+04,7.483100e+04,7.481400e+04,7.479700e+04,7.478000e+04
25%,3.266034e+06,1.304750e+06,4.114330e+06,3.684792e+06,4.377859e+06,2.690868e+06,4.116753e+06,3.023674e+06,5.071448e+06,4.844154e+06,4.347751e+06,3.802263e+06,3.256774e+06
50%,4.292105e+06,4.892096e+06,6.631994e+06,7.478769e+06,8.832315e+06,5.601749e+06,5.224112e+06,5.852808e+06,6.870664e+06,6.454686e+06,6.576929e+06,6.797342e+06,7.017755e+06
75%,9.103218e+06,7.592322e+06,9.110200e+06,8.467850e+06,9.479942e+06,7.195818e+06,1.111281e+07,7.699135e+06,8.053843e+06,8.333816e+06,8.613790e+06,8.893764e+06,9.173738e+06
max,9.957350e+06,1.068167e+07,9.277163e+06,1.085425e+07,9.992642e+06,8.448689e+06,1.174498e+07,9.566786e+06,8.937597e+06,9.649896e+06,1.036220e+07,1.107449e+07,1.178679e+07

In [106]:
y=['Apple','Mi','Samsung','Nokia','Moto','Vivo','Oppo']

In [107]:
fig = px.line(df, x='Years', y=y)
fig.show()

ValueError: Value of 'x' is not the name of a column in 'data_frame'. Expected one of ['Brands', '2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023', '2024', '2025', '2026', '2027', '2028'] but received: Years

In [110]:
fig = px.bar(df, x='Years', y=y)
fig.show()

ValueError: Value of 'x' is not the name of a column in 'data_frame'. Expected one of ['Brands', '2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023', '2024', '2025', '2026', '2027', '2028'] but received: Years

In [111]:
print(df)

    Brands     2016      2017     2018      2019     2020     2021      2022  \
0    Apple    79918     92956    36311     98601    70320    51261     92014
1       Mi  3315550   1409596  9277163   1660474  9992642  8448689   3212109
2  Samsung  9394877   6224008  2676267  10854249  9698714  5601749  11744976
3    Nokia  9957350  10681674  8963409   9150408  8832315  7767173   5021397
4     Moto  8811559   8960636  9256990   5709109  9261169  1095159  11050079
5     Vivo  3216518   1199904  6631994   7478769  6015910  4286578  11175540
6     Oppo  4292105   4892096  5552392   7785292  2739808  6624464   5224112

      2023     2024     2025      2026      2027      2028
0    78019    74848    74831     74814     74797     74780
1  3837745  6136104  6356516   6576929   6797342   7017755
2  6454424  8615582  8789898   8964215   9138531   9312848
3  9566786  6870664  6454686   6038708   5622731   5206753
4  2209602  4006792  3331793   2656794   1981795   1306796
5  5852808  8937597  9649896  10362195  11074494  11786793
6  8943846  7492104  7877735   8263365   8648996   9034627